// Support for old IE
support-for-ie ?= true

// Grid system specifics
grid-prefix       ?= "grid"
grid-alignment    ?= left
grid-gutter-width ?= 1.5rem
grid-force-suffix ?= false

// Private variable to find if we generated an earlier grid we can extend
grid-root-config  ?= null false // `root class` `generated core`
