base-font-size     ?= 100%
base-text-color    ?= #666
base-line-height   ?= 1.5
base-border-radius ?= 3px

form-legend-color ?= #999
form-help-color   ?= lighten(base-text-color, 20%)

form-actions-background ?= #f5f5f5

form-input-color         ?= inherit
form-input-background    ?= white
form-input-font-weight   ?= 300
form-input-border        ?= #95a5a6
form-input-border-active ?= darken(form-input-border, 20%)
form-input-border-radius ?= base-border-radius

form-input-placeholder-color ?= #95a5a6

form-input-opacity-disabled    ?= 0.6
form-input-background-disabled ?= inherit

// Colors
form-input-danger-color       ?= #e74c3c
form-input-danger-border      ?= form-input-danger-color
form-input-danger-background  ?= lighten(form-input-danger-color, 95%)

form-input-warning-color      ?= #f39c12
form-input-warning-border     ?= form-input-warning-color
form-input-warning-background ?= lighten(form-input-warning-color, 95%)

form-input-success-color      ?= #2ecc71
form-input-success-border     ?= form-input-success-color
form-input-success-background ?= lighten(form-input-success-color, 95%)
